html * {
  font-family: "Orbitron", "Rajdhani", "Audiowide", sans-serif;
}

.heading {
  color: #eee;
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.main-panel {
  margin-top:200px;
}

.shine-effect {
  z-index: 9999;
  pointer-events: none;
  /*   positioning */
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  /*   gradient   */
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.03) 1%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(255, 255, 255, 0.85) 70%,
    rgba(255, 255, 255, 0.85) 71%,
    rgba(255, 255, 255, 0) 100%
  );
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(1%, rgba(255, 255, 255, 0.03)),
    color-stop(30%, rgba(255, 255, 255, 0.85)),
    color-stop(50%, rgba(255, 255, 255, 0.85)),
    color-stop(70%, rgba(255, 255, 255, 0.85)),
    color-stop(71%, rgba(255, 255, 255, 0.85)),
    color-stop(100%, rgba(255, 255, 255, 0))
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.03) 1%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(255, 255, 255, 0.85) 70%,
    rgba(255, 255, 255, 0.85) 71%,
    rgba(255, 255, 255, 0) 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.03) 1%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(255, 255, 255, 0.85) 70%,
    rgba(255, 255, 255, 0.85) 71%,
    rgba(255, 255, 255, 0) 100%
  );
  /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.03) 1%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(255, 255, 255, 0.85) 70%,
    rgba(255, 255, 255, 0.85) 71%,
    rgba(255, 255, 255, 0) 100%
  );
  /* IE10+ */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.03) 1%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(255, 255, 255, 0.85) 70%,
    rgba(255, 255, 255, 0.85) 71%,
    rgba(255, 255, 255, 0) 100%
  );
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 */
  /*  forming the shine element
        play around with the width, skew and gradient to get different effects
    */
  width: 13%;
  height: 100%;
  transform: skew(-10deg, 0deg);
  -webkit-transform: skew(-10deg, 0deg);
  -moz-transform: skew(-10deg, 0deg);
  -ms-transform: skew(-10deg, 0deg);
  -o-transform: skew(-10deg, 0deg);
  /*  animating it  */
  animation: move 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  -webkit-animation: move 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
  -moz-transform: skew(-10deg, 0deg);
  -moz-animation: move 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 1s;
  -ms-transform: skew(-10deg, 0deg);
  -ms-animation: move 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 1s;
  -o-transform: skew(-10deg, 0deg);
  -o-animation: move 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 1s;
}

/*  */
@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: 82%;
  }
}
@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: 82%;
  }
}
@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: 88%;
  }
}
@-ms-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: 82%;
  }
}
@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: 82%;
  }
}

.glow {
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: 0 0 1px rgba(157, 208, 154, 0.3);
  /* Stripes */
  /*Fallback:
    http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html
    */
  background: -webkit-linear-gradient(transparent, transparent),
    url(https://i.imgur.com/WyMyxQ6.png) repeat;
  /* clipping webkit magic */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Animation */
  -webkit-animation: glow 3s infinite alternate;
  -moz-animation: glow 3s infinite alternate;
  animation: glow 2s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(1, 0.3, 0.79, 0.81);
  -moz-animation-timing-function: cubic-bezier(1, 0.3, 0.79, 0.81);
  animation-timing-function: cubic-bezier(1, 0.3, 0.79, 0.81);
}

@-webkit-keyframes glow {
  0% {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1),
      0 0 3px rgba(255, 255, 255, 0.1), 0 0 5px rgba(157, 208, 154, 0.3);
  }
  50% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1),
      0 0 5px rgba(255, 255, 255, 0.1);
  }
  52% {
    text-shadow: 0 0 5px rgba(157, 208, 154, 0.3);
  }
  54% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1),
      0 0 5px rgba(255, 255, 255, 0.1);
  }
  100% {
    text-shadow: 0 0 2px rgb(34, 146, 180), 0 0 5px rgba(255, 255, 255, 1),
      0 0 10px rgba(157, 208, 154, 1);
  }
}
@-moz-keyframes glow {
  0% {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1),
      0 0 3px rgba(255, 255, 255, 0.1), 0 0 5px rgba(157, 208, 154, 0.3);
  }
  50% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1),
      0 0 5px rgba(255, 255, 255, 0.1);
  }
  52% {
    text-shadow: 0 0 5px rgba(157, 208, 154, 0.3);
  }
  54% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1),
      0 0 5px rgba(255, 255, 255, 0.1);
  }
  100% {
    text-shadow: 0 0 2px rgb(34, 146, 180), 0 0 5px rgba(255, 255, 255, 1),
      0 0 10px rgba(157, 208, 154, 1);
  }
}
@keyframes glow {
  0% {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1),
      0 0 3px rgba(255, 255, 255, 0.1), 0 0 5px rgba(157, 208, 154, 0.3);
  }
  50% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1),
      0 0 5px rgba(255, 255, 255, 0.1);
  }
  52% {
    text-shadow: 0 0 5px rgba(157, 208, 154, 0.3);
  }
  54% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1),
      0 0 5px rgba(255, 255, 255, 0.1);
  }
  100% {
    text-shadow: 0 0 2px rgb(34, 146, 180), 0 0 5px rgba(255, 255, 255, 1),
      0 0 10px rgba(157, 208, 154, 1);
  }
}

.octo {
  position: relative;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  background-color: #54d7d9;
  line-height: 150px;
  /* line-height: 115px; */
  text-align: center;
  border-radius: 41%;
  color: rgba(84, 215, 217, 0.9);
  font-size: 40px;
  text-shadow: 1px 1px 13px rgba(84, 215, 217, 0.6);
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  overflow: hidden;
}
.octo:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  box-shadow: inset 0 0 45px -4px rgba(79, 204, 204, 0.84);
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  border-radius: 41%;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
.octo:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://3sdgames.files.wordpress.com/2014/01/hex-transparent.png");
  opacity: 0.2;
  z-index: -1;
  -webkit-filter: invert(1);
  background-size: 240px auto;
  background-position: center center;
}
.octo .octo-label {
  font-size: 10px;
  line-height: 2;
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  text-shadow: 1px 1px 20px rgba(84, 215, 217, 0.6);
}
.octo .octo-label strong {
  display: block;
  font-size: 13px;
  margin-bottom: 2px;
}

.custom-octo-label {
  font-size: 15px;
  line-height: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  top: 25px;
  text-transform: uppercase;
  text-shadow: 1px 1px 20px rgba(84, 215, 217, 0.6);
}

.custom-octo-label strong {
  display: block;
  font-size: 15px;
}

/* Sci-Fi UI Inputs */

.scifiUI {
  width: 600px;
  margin: 50px auto;
  font-size: 18px;
  color: #2fd9fc;
}
.scifiUI * {
  transition: all 250ms ease-in-out;
  outline: none;
}
.scifiUI :before,
.scifiUI :after {
  transition: all 200ms ease-in-out;
  content: "";
}
.scifiUI .inline {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.scifiUI .inline label {
  padding-right: 5px;
}
.scifiUI input[type="text"],
input[type="password"] {
  height: 50px;
  border: 1px solid #2fd9fc;
  padding: 0 10px;
  background: transparent;
  font-family: "Rajdhani !important";
  color: #2fd9fc;
}

.error-text {
  color:red;
}

.error-input {
  height: 50px;
  border: 1px solid red !important;
  padding: 0 10px;
  background: transparent;
  font-family: "Rajdhani !important";
  color: #fff;
}

.error-input:focus {
  height: 50px;
  border: 1px solid red !important;
  padding: 0 10px;
  background: red !important;
  font-family: "Rajdhani !important";
}
.scifiUI input[type="text"]:hover,
input[type="password"]:hover {
  box-shadow: 0 0 8px #2fd9fc inset, 0 0 8px #2fd9fc;
  border: 1px solid #2fd9fc;
}
/* .scifiUI input[type="text"]:focus {
  box-shadow: 0 0 20px #2FD9FC inset, 0 0 10px #2FD9FC, 0 0 20px white;
  border: 1px solid #2FD9FC;
  background: #2FD9FC;
  color: #212121;
} */
.scifiUI input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: 0 0 20px rgb(4, 22, 26) inset, 0 0 10px rgb(195, 207, 209),
    0 0 20px white;
  border: 1px solid #2fd9fc;
  background: #2fd9fc;
  /* color: #212121; */
  opacity: 0.8;
  color: #fff;
}
.scifiUI .radioWrapper {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 20%;
}
.scifiUI .radioWrapper input[type="radio"] {
  position: absolute;
  top: -100%;
}
.scifiUI .radioWrapper input[type="radio"] ~ label {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 35px;
  text-align: left;
  cursor: pointer;
}
.scifiUI .radioWrapper input[type="radio"] ~ label:before {
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 13px;
  left: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid #2fd9fc;
}
.scifiUI .radioWrapper input[type="radio"] ~ label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
}
.scifiUI .radioWrapper input[type="radio"]:hover ~ label {
  color: #2fd9fc;
}
.scifiUI .radioWrapper input[type="radio"]:hover ~ label:before {
  box-shadow: 0 0 8px #2fd9fc inset, 0 0 8px #2fd9fc;
  border: 1px solid #2fd9fc;
}
.scifiUI .radioWrapper input[type="radio"]:checked ~ label {
  color: #2fd9fc;
}
.scifiUI .radioWrapper input[type="radio"]:checked ~ label:before {
  box-shadow: 0 0 8px #2fd9fc inset, 0 0 8px #2fd9fc;
  border: 1px solid #2fd9fc;
}
.scifiUI .radioWrapper input[type="radio"]:checked ~ label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  box-shadow: 0 0 20px #2fd9fc inset, 0 0 10px #2fd9fc, 0 0 20px white;
  border: 1px solid #2fd9fc;
  background: #2fd9fc;
  top: 18px;
  left: 10px;
  width: 10px;
  height: 20%;
}
.scifiUI .checkboxWrapper {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin-right: 15px;
}
.scifiUI .checkboxWrapper input[type="checkbox"] {
  position: absolute;
  top: -100%;
}
.scifiUI .checkboxWrapper input[type="checkbox"] ~ label {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 35px;
  text-align: left;
  cursor: pointer;
}
.scifiUI .checkboxWrapper input[type="checkbox"] ~ label:before {
  display: block;
  position: absolute;
  top: 7px;
  left: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid #2fd9fc;
}
.scifiUI .checkboxWrapper input[type="checkbox"] ~ label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  box-shadow: 1px -7px 5px 3px #2fd9fc, 5px 5px 5px 3px #2fd9fc;
  display: block;
  position: absolute;
  top: 7px;
  left: 5px;
  width: 20px;
  height: 20px;
}
.scifiUI .checkboxWrapper input[type="checkbox"]:hover ~ label {
  color: #2fd9fc;
}
.scifiUI .checkboxWrapper input[type="checkbox"]:hover ~ label:before {
  box-shadow: 0 0 8px #2fd9fc inset, 0 0 8px #2fd9fc;
  border: 1px solid #2fd9fc;
}
.scifiUI .checkboxWrapper input[type="checkbox"]:checked ~ label {
  color: #2fd9fc;
}
.scifiUI .checkboxWrapper input[type="checkbox"]:checked ~ label:before {
  box-shadow: 0 0 8px #2fd9fc inset, 0 0 8px #2fd9fc;
  border: 1px solid #2fd9fc;
}
.scifiUI .checkboxWrapper input[type="checkbox"]:checked ~ label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  box-shadow: 0 0 20px #2fd9fc inset, 0 0 10px #2fd9fc, 0 0 20px white;
  border: 1px solid #2fd9fc;
  background: #2fd9fc;
  top: 14px;
  left: 10px;
  width: 10px;
  height: 10px;
}
.scifiUI .selectWrapper {
  overflow: hidden;
  position: relative;
  width: 1200px;
  height: 50px;
  border-left: 5px solid #2fd9fc;
}
.scifiUI .selectWrapper:hover {
  box-shadow: 0 0 20px #2fd9fc inset, 0 0 10px #2fd9fc, 0 0 20px white;
  border: 1px solid #2fd9fc;
  background: #2fd9fc;
  width: 200px;
  height: 50px;
}
.scifiUI .selectWrapper:hover select {
  color: #212121;
}
.scifiUI .selectWrapper:hover select + i {
  border-top-color: #212121;
}
.scifiUI .selectWrapper i {
  position: absolute;
  top: 18px;
  left: 10px;
  width: 0;
  height: 100%;
  border-top: 15px solid #2fd9fc;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.scifiUI .selectWrapper select {
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  position: absolute;
  width: 200px;
  height: 100%;
  padding-left: 40px;
  border: 0;
  outline: 0;
  background: none;
  z-index: 99;
  cursor: pointer;
}
.scifiUI .sci-button {
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 50px;
  border: 1px solid #2fd9fc;
  background: rgba(0, 190, 190, 0.2);
}
.scifiUI .sci-button:hover {
  box-shadow: 0 0 8px #2fd9fc inset, 0 0 8px #2fd9fc;
  border: 1px solid #2fd9fc;
  color: #2fd9fc;
  background: rgba(0, 220, 220, 0.3);
}

/* Scan Effect */
.scan-effect {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 20px;
  background-color: rgba(45, 183, 183, 0.54);
  z-index: 9999;
  transform: translateY(135%);
  animation: scanning 2.7s cubic-bezier(0.15, 0.44, 0.76, 0.64);
  animation-iteration-count: infinite;
}

.scan-effect:after,
.scan-effect:before {
  border-color: #000;
  content: "";
  position: absolute;
  width: 19px;
  height: 16px;
  border-style: solid;
  border-width: 0px;
}

.scan-effect:before {
  left: 0;
  bottom: 0;
  border-left-width: 1px;
  border-bottom-width: 1px;
}
.scan-effect:after {
  right: 0;
  bottom: 0;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
@keyframes scanning {
  0%,
  100% {
    transform: translateY(35%);
  }
  50% {
    transform: translateY(100%);
  }
  75% {
    transform: translateY(400px);
  }
}

#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
}

.middle-on-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
